.wrap-image-bg{
    width: 100%;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.wrap-image-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrap-image-bg input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
}
.load-frame{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    z-index: 99;
}
.load-frame .load-bar{
    width: 80%;
    height: 10px;
    border-radius: 999px;
    background-color: rgb(229, 229, 229);
    overflow: hidden;
}
.load-frame .percen{
    padding-bottom: 5px;
    font-size: 25px;
}
.load-frame .load-bar span{
    display: block;
    width: 50%;
    height: 100%;
    background-color: rgb(0, 152, 213);
}
.wrap-sound-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
    position: relative;
    cursor: pointer;
}
.wrap-sound-bg .wrap-input{
    width: 80%;
    height: 50px;
    border: 2px solid rgb(189, 189, 189);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    color: rgb(189, 189, 189);
    margin-bottom: 10px;
}
.wrap-sound-bg .wrap-input input{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}
.wrap-sound-bg .icon .fa-play,
.wrap-sound-bg .icon .fa-pause{
    font-size: 50px;
    opacity: .5;
}
.wrap-box-file{
    width: 100%;
    height: 60px;
    border: 2px dashed rgb(0, 129, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wrap-box-file input{
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    cursor: pointer;
}
.wrap-box-file .loading{
    height: 100%;
    position: absolute;
    width: 0%;
    background: rgb(0, 129, 175);
    left: 0;
    transition: 1s;
}
#main-table .wrap-img{
    width: 100%;
    height: 70px;
    overflow: hidden;
}
#main-table .wrap-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main-table{
    width: 100%;
    user-select: none;
}
#main-table .image{
    width: 50px;
}
#main-table thead,
#main-table td{
    text-align: center;
    vertical-align: middle;
}
#main-table thead{
    background: rgb(0, 103, 144);
    height: 40px;
    color: white;
}
#main-table tr:nth-child(2n){
    background-color: rgb(242, 242, 242);
}